.DS_Store
.obsidian/plugins/obsidian-commits/data.json
.obsidian/workspace.json

/sandbox/jenkins-examples/
/sandbox/python_examples/
/sandbox/sql_examples/
/sandbox/rust_examples/
/sandbox/ai/gpt4all/
